.header {
  background: #343a40;
  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    text-decoration: none;
    margin: auto;
    max-width: 80%;

    .logo {
      margin-right: 75%;
      font-size: 1.5rem;
      margin-top: 1px;
      color: #ffffff;
    }

    li {
      padding: 1rem;
      margin-top: 8px;
      a {
        color: #ffffff;
      }
    }
  }
}
